.Teachers {
  width: 100%;
  height: 85vh;
  display: grid;
  place-items: center;
  background-color: #f2e9e9;
  // background-color: #c9c2c2;

  .container {
    width: 90%;
    height: 73vh;
    display: column;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
    font-size: calc(10px + 2vmin);
    color: rgb(104, 99, 99);
    .add {
      height: 2rem;
      display: flex;
      border-radius: 4px;
      font-size: 18px;
      text-align: center;
      background-color: transparent;
      input {
        width: 100%;
        text-align: center;
        font-size: 20px;
        height: 2rem;
        border: 2px solid white;
        margin-bottom: 20px;
        background-color: transparent;
      }
      button {
        width: 3rem;
        height: 2rem;
        font-size: 20px;
        color: grey;
        border: 2px solid white;
        background-color: transparent;
      }
    }
    .search {
      form {
        width: 100%;
        input {
          width: 100%;
          text-align: center;
          font-size: 20px;
          height: 2rem;
          border: 2px solid white;
          margin-bottom: 20px;
          background-color: transparent;
        }
      }
    }
    .teachers {
      width: 100%;
      display: column;
      align-items: center;
      .teacher {
        height: 2em;
        display: flex;
        justify-content: space-around;
        border: 2px solid white;
        .item {
          display: grid;
          place-items: center;
          width: 40%;
        }
        .icons {
          // right: 0;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          .icon {
            padding-right: 1px;
            color: rgb(153, 152, 152);
            cursor: pointer;
            :hover {
              color: rgb(102, 100, 100);
              outline: none;
            }
          }
        }
      }
    }
  }
}
footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 7vh;
  background-color: #f2e9e9;
  display: grid;
  place-items: center;
}
