.Users {
  width: 100%;
  display: grid;
  place-items: center;
  display: column;
  justify-content: center;
  background-color: #c9c2c2;

  header {
    width: 100%;
    display: grid;
    place-items: center;
    // position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-size: 25px;
    height: 15vh;
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc;
    color: rgb(99, 99, 99);
  }
  .container {
    width: 90%;
    height: 73vh;
    display: column;
    margin-top: 2vh;
    font-size: calc(10px + 2vmin);
    color: rgb(104, 99, 99);

    .search {
      form {
        width: 100%;
        input {
          width: 100%;
          text-align: center;
          font-size: 20px;
          height: 3rem;
          border: 2px solid #ccc;
          margin-bottom: 20px;
          background-color: #e6e0e0;
        }
      }
    }

    .add {
      height: 3rem;
      display: flex;
      border-radius: 4px;
      font-size: 18px;
      text-align: center;
      background-color: #e6e0e0;
      input {
        width: 100%;
        text-align: center;
        font-size: 20px;
        height: 3rem;
        border: 2px solid #ccc;
        margin-bottom: 20px;
        background-color: #e6e0e0;
      }
      button {
        width: 3rem;
        height: 3rem;
        font-size: 20px;
        color: grey;
        border: 2px solid #ccc;
        background-color: #e6e0e0;
      }
    }
    .users {
      width: 100%;
      display: column;
      justify-content: center;

      .user {
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 3rem;
        margin: 2px;
        border-radius: 4px;
        font-size: 16px;
        color: rgb(77, 79, 80);
        border: 2px solid #ccc;
        background-color: #e6e0e0;

        input {
          color: grey;
          width: 30%;
          height: 2.5rem;
          border-radius: 4px;
          font-size: 20px;
          text-align: center;
          padding-left: 5px;
          //   border: 2px solid #ccc;
          border: none;
          background-color: #e6e0e0;
        }
        .icons {
          right: 0;
          font-size: 1.4rem;
          display: flex;
          .icon {
            padding-right: 1px;
            color: rgb(153, 152, 152);
            cursor: pointer;
            :hover {
              color: rgb(102, 100, 100);
              outline: none;
            }
          }
        }
      }
    }
  }
  footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    border-top: 3px solid #ccc;
    height: 10vh;
    // background-color: #e6e0e0;
    background-color: #c9c2c2;

    color: rgb(99, 99, 99);
    h2 {
      margin: 0;
    }
  }
}
