.Users {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #f2e9e9;
  // background-color: #c9c2c2;
  .container {

  header {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 25px;
    height: 5vh;
    margin-bottom: 10px;
    color: rgb(99, 99, 99);
  }
    width: 90%;
    height: 73vh;
    display: column;
    margin-top: 2vh;
    font-size: calc(10px + 2vmin);
    color: rgb(104, 99, 99);

    .search {
      form {
        width: 100%;
        input {
          width: 100%;
          text-align: center;
          font-size: 16px;
          height: 2em;
          border: 2px solid #ccc;
          margin-bottom: 10px;
          background-color: #e6e0e0;
        }
      }
    }

    .add {
      height: 2em;
      display: flex;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
      background-color: #e6e0e0;
      input {
        width: 100%;
        text-align: center;
        font-size: 16px;
        height: 2em;
        border: 2px solid #ccc;
        margin-bottom: 20px;
        background-color: #e6e0e0;
      }
      button {
        width: 3rem;
        height: 2em;
        font-size: 16px;
        color: grey;
        border: 2px solid #ccc;
        background-color: #e6e0e0;
      }
    }
    .users {
      width: 100%;
      display: column;
      justify-content: center;

      .user {
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 2em;
        margin: 2px;
        border-radius: 4px;
        font-size: 16px;
        color: rgb(77, 79, 80);
        border: 2px solid #ccc;
        background-color: #e6e0e0;

        input {
          color: grey;
          width: 30%;
          height: 1.4em;
          border-radius: 4px;
          font-size: 16px;
          text-align: center;
          padding-left: 5px;
          //   border: 2px solid #ccc;
          border: none;
          background-color: #e6e0e0;
        }
        .icons {
          right: 0;
          font-size: 1rem;
          display: flex;
          .icon {
            padding-right: 1px;
            color: rgb(153, 152, 152);
            cursor: pointer;
            :hover {
              color: rgb(102, 100, 100);
              outline: none;
            }
          }
        }
      }
    }
  }
}
